<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Autor: <%= autor[0].nome %></title>
</head>
<body>

    <ul>
        <li>
            <%= autor[0].nome + ' ' + autor[0].sobrenome %>
        </li>
        <li>
            <%= autor[0].data_nascimento %>
        </li>
        <li>
            <%= autor[0].profissao %>
        </li>
    </ul>
    
</body>
</html>