<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Autores</title>
</head>

<body>
    <h1>Autores</h1>

    <ul>
        <% for(var i = 0; i < autores.length; i++) {%>
            <li>
               <a href="autor?id_autor=<%= autores[i].id_autor %>"><%= autores[i].nome %>, <%= autores[i].profissao %></a>
            </li>
            <% } %>
    </ul>

</body>

</html>